.ReactBlog {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;

        li {
            display: inline-block;
            margin: 20px;
        }
    }

    a {
        color: #000;
        text-decoration: none;

        &:hover,
        &:active,
        &.active {
            color: #fa923f
        }
    }
}
